﻿@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/jBox.css" rel="stylesheet">
<script src="~/Scripts/jBox.min.js"></script>
<div class="cart-counter">
    <span data-bind="text: 'Shopping Cart: ' + addedToCart().length + ' products'"></span>
    @Html.ActionLink("View Cart", "Index", "Order")
</div>
<img class="loading" alt="loading" src="/Content/loading.gif" />
<div>
     <ul class="articles" data-bind="foreach: items">
        <li>
            <div class="article">
                <span data-bind="text: Name, click: function () { $root.openArticle(Id) }" class="name"></span>
                <span data-bind="text: formatCurrency(Price), click: function () { $root.openArticle(Id) }" class="price"></span>
                <input type="button" value="Add to cart" data-bind="click: function () { $root.addToCart($data); }, attr: { id: 'buyBtn' + Id }"/>
            </div>
        </li>
    </ul>
    <ul class="pager" data-bind="foreach: allPages">
        <li data-bind="text: pageNumber, click: function () { $root.moveToPage(pageNumber - 1); }"></li>
    </ul>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/articles.list.js")" type="text/javascript"></script>    
}


