﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Web Shop</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/knockout")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("WebShop Logo", "Index", "Home")</p>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <script type="text/javascript">
            var pageConfig = {
                "articlesUrl": "@System.Web.Configuration.WebConfigurationManager.AppSettings["api.url.articles"]",
                "articlesPageSize": "@System.Web.Configuration.WebConfigurationManager.AppSettings["artiles.pagesize"]",
                "orderUrl": "@System.Web.Configuration.WebConfigurationManager.AppSettings["api.url.order"]",
                "VAT": "@System.Web.Configuration.WebConfigurationManager.AppSettings["VAT"]"
            };
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
