﻿@model WebShop.WebApp.Models.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


<div class="cart-form">
    <h2>Cart</h2>
    <ul class="cart" data-bind="foreach: items">
        <li>
            <span class="item-name" data-bind="text: Name"></span>
            <span class="price" data-bind="text: formatCurrency(Price)"></span>
            <input type="button" data-bind="click: $root.removeItem" value="Remove"/>
        </li>
    </ul>
    <h4>Total:</h4>
    <ul class="cart-totals">
        <li>
            <span class="item-name" >Sub total (excluding VAT)</span>
            <span class="price" data-bind="text: formatCurrency(subtotal())"></span>
        </li>
        <li>
            <span class="item-name" >Total VAT</span>
            <span class="price" data-bind="text: formatCurrency(totalVAT())"></span>
        </li>
        <li>
            <span class="item-name"><b>Total (including VAT)</b></span>
            <span class="price" data-bind="text: formatCurrency(totalWithVAT())"></span>
        </li>
    </ul>
</div>

<div class="checkout-block">
    <h2>Checkout form</h2>
    <form class="checkout-form" method="post" action="http://localhost:49251/api/order/place" enctype="application/json; charset=utf-8">
        @Html.ValidationSummary(true)
        <fieldset>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Title)
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </li>
                <li>
                    @Html.LabelFor(m => m.FirstName)
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </li>
                <li>
                    @Html.LabelFor(m => m.LastName)
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Address)
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </li>
                <li>
                    @Html.LabelFor(m => m.HouseNumber)
                    @Html.EditorFor(model => model.HouseNumber)
                    @Html.ValidationMessageFor(model => model.HouseNumber)
                </li>
                <li>
                    @Html.LabelFor(m => m.ZipCode)
                    @Html.EditorFor(model => model.ZipCode)
                    @Html.ValidationMessageFor(model => model.ZipCode)
                </li>
                <li>
                    @Html.LabelFor(m => m.City)
                    @Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </li>
            </ol>
            <input type="submit" value="Place order"/> <img class="loading" alt="loading" src="/Content/loading.gif"  />
        </fieldset>
    </form>
</div>

<div class="message-empty" >
    <h1>Cart is empty.</h1>
    <h4>@Html.ActionLink("<< Back to Home page", "Index", "Home")</h4>
</div>
<div class="message-success">
    <h1>Thank you! Order has been placed successfully.</h1>
    <h4>@Html.ActionLink("<< Back to Home page", "Index", "Home")</h4>
</div>
<div class="message-error">
    <h1>Error</h1>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/cart.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/checkout.js")" type="text/javascript"></script>    
}
